@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

* {
    font-family: 'Spectral',serif;
    ::-webkit-scrollbar-track {
        box-shadow: inset;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #111;
      }
      
    ::-webkit-scrollbar {
        width: 12px;
        background-color: #111;
    }
      
    ::-webkit-scrollbar-thumb {
        box-shadow: inset;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        border-radius: 10px;
        background-color: #d8d8d8;
    }
}

.menu_active {
    border-bottom: #fff 1px solid;
    color: #fff !important;
}

.navbar {
    .navbar-brand {
        font-size: 2.2rem;
        font-family: 'Zen Tokyo Zoo',cursive !important;
        padding: 0;
    }
    .nav-link:hover {
            background-color: #fff;
            color: #111 !important;
    }
    .navbar-toggler:hover {
        border: #fff 1px solid;
    }
}

footer {
    p {
        color: #fff;
    }
    a {
        color: #fff;
        font-size: 1.4rem;
        &:hover {
            color: #fff;
        }
    }
}

.content {
    h1,h5 {
        font-family: 'Lobster',cursive !important;
    }
    p{
        text-align: justify;
    }
}

.line {
    border-right: #111 1px solid;
}